* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
}


.primary-color {
  background-color: #116466;
}


.form-color {
  background-color: #D1E8E2;
  color: rgb(3, 3, 3);
}

