.social-buttons-container {
    justify-content: center;
    display: flex;
    gap: 12px;
    width: 100%;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.social-button:hover {
    transform: translateY(-1px);
}

.google-button img{
    width: 3.4;
    height: 3.4;
}
.facebook-button img{
    
    width: 3.5rem;
    height: 3.5rem;

}



