.social-buttons-container {
    justify-content: center;
    display: flex;
    gap: 12px;
    width: 100%;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    padding: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.social-button:hover {
    transform: translateY(-1px);
}




